@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1f2029;
  color: #c4c3ca;
  margin: 0;
  padding: 0;
}

.register-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.register-card {
  background: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-size: 300%;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

h4 {
  color: #ffeba7;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-style {
  width: 100%;
  padding: 12px 20px 12px 50px;
  border: none;
  border-radius: 6px;
  background-color: #1f2029;
  color: #c4c3ca;
  box-shadow: 0 4px 8px rgba(21, 21, 21, 0.2);
  font-size: 14px;
  font-weight: 500;
}

.form-style:focus {
  outline: none;
  background-color: #292a36;
}

.form-style-file {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  background-color: #1f2029;
  color: #c4c3ca;
  border: 1px dashed #ffeba7;
  font-size: 14px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffeba7;
  font-size: 20px;
  pointer-events: none;
}

.btn {
  width: 100%;
  background-color: #ffeba7;
  color: #102770;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 10px;
}

.btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px rgba(16, 39, 112, 0.2);
}

.link {
  color: #c4c3ca;
  text-decoration: none;
}

.link:hover {
  color: #ffeba7;
}

.error-message {
  font-size: 13px;
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 5px;
}
